body {
    margin: 0;
    font-family: roboto, sans-serif;
}


.header {
    padding: 0 200px;
    height: 72px;
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
}

.logo-text {
    color: #f9faf8;
    font-size: 24px;
    display: flex;
    align-items: center;
    font-weight: bold;
}

ul {
    display: flex;
    list-style: none;
    align-items: center;
}

a {
    text-decoration: none;
}

.links {
    gap: 20px;
}

.links li a {
    font-size: 18px;
    color: #e5e7eb;
}

.hero {
    padding: 100px 200px;
    background-color: hsl(215, 28%, 17%);
    display: flex;
    gap: 80px
}

.left-part {
    width: 450px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.hero-secondary-text {
    font-size: 18px;
    color: #e5e7eB;
}

.right-part {
    flex: 1;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-part button {
    margin: 10px 0;
    background-color: #3882F6;
    color: #f9faf8;
    padding: 8px 30px;
    font-weight: bold;
    border-radius: 8px;
    border: none
}