body {
    margin: 0;
    font-family: roboto, sans-serif;
}


.header {
    padding: 0 100px;
    height: 72px;
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
}

.logo-text {
    color: #f9faf8;
    font-size: 24px;
    display: flex;
    align-items: center;
    font-weight: bold;
}

ul {
    display: flex;
    list-style: none;
    align-items: center;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.links {
    gap: 20px;
}

.links li a {
    font-size: 18px;
    color: #e5e7eb;
}

.hero {
    padding: 100px 100px;
    background-color: hsl(215, 28%, 17%);
    display: flex;
    gap: 80px
}

.left-part {
    width: 450px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.hero-secondary-text {
    font-size: 18px;
    color: #e5e7eB;
}

.right-part {
    flex: 1;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-part button {
    margin: 10px 0;
    background-color: #3882F6;
    color: #f9faf8;
    padding: 8px 30px;
    font-weight: bold;
    border-radius: 8px;
    border: none
}

.information {
    padding: 50px 100px;
}

.information .main-text {
    text-align: center;
    color: #1f2937;
    font-weight: 900;
    font-size: 36px;
}

.information .cards {
    padding: 50px 120px;
    display: flex;
    justify-content: center;
    gap: 70px;
    flex-wrap: wrap;
}

.information .cards li {
    width: 150px;
}

.information .cards .image {
    height: 150px;
    border-radius: 8px;
    border: 2px solid #3882F6;
    margin-bottom: 10px;
}

.information .cards .text {
    text-align: center;
}

.quote {
    padding: 150px 240px;
    background-color: #e5e7eB;
}

.quote .text {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
}

.quote .author {
    padding: 0 30px;
    text-align: end;
    font-weight: bold;
    font-size: 20px;
}

.action {
    padding: 120px 100px;
}

.action .container {
    background-color: #3882F6;
    border-radius: 8px;
    padding: 50px 120px;
    display: flex;
    justify-content: space-between;
}

.action .container  .main-text {
    font-weight: 500;
    color: #f9faf8;
    font-size: 20px;
}

.action .container  .sub-text {
    font-size: 18px;
    color: #e5e7eB;
}

.action .container  button {
    margin: 10px 0;
    background-color: #3882F6;
    color: #f9faf8;
    padding: 8px 30px;
    font-weight: bold;
    border-radius: 8px;
    border: 2px solid #f9faf8;
}

.footer {
    height: 74px;
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e5e7eb;
}